<div class="row justify-content-center">
    <div class="d-flex flex-column justify-content-center align-items-center position-relative m-1" *ngFor="let photo of photos">
        <img src="{{photo.url}}" class="img-thumbnail p-1" alt="" [ngClass]="!photo.isApproved && 'not-approved'">

        <div class="text-center img-text" *ngIf="!photo.isApproved">
            <span class="text-danger">Awaiting approval</span>
        </div>

        <div class="d-flex mt-1">
            <button type="button" class="btn btn-sm mr-1" [ngClass]="photo.isMain ? 'btn-success active' : 'btn-secondary'"
                (click)="setMainPhoto(photo)" [disabled]="photo.isMain || !photo.isApproved">Main</button>
            <button type="button" class="btn btn-sm btn-danger" [disabled]="photo.isMain" (click)="deletePhoto(photo.id)"><i
                    class="fa fa-trash-o"></i></button>
        </div>
    </div>
</div>
<div class="d-flex flex-column mt-4">
    <h3>Add Photos</h3>
    <div class="d-flex align-items-stretch justify-content-start">
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
            class="card bg-faded p-3 my-drop-zone justify-content-center">
            <div class="d-flex flex-column align-items-center">
                <i class="fa fa-upload fa-3x"></i>
                Drop Photos Here
            </div>
        </div>
        <div class="d-flex flex-column ml-3">
            Multiple
            <input type="file" ng2FileSelect [uploader]="uploader" multiple style="width: 125px"/><br />
            Single
            <input type="file" ng2FileSelect [uploader]="uploader" style="width: 120px"/>
        </div>
    </div>
    <div class="mt-4" *ngIf="uploader?.queue?.length">
        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                </tr>
            </tbody>
        </table>
        <div>
            <div>
                Queue progress:
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s mr-1" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-s mr-1" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove
            </button>
        </div>
    </div>
</div>