.dropdown {
    order: 10;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.navbar-toggler:focus {
    outline: none;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

#loginForm button {
    height: 36px;
}

@media (max-width: 48rem) {
    .dropdown {
        order: 0;
    }
    #appLogo, #loginForm {
        margin: auto;
    }
    .navbar li:first-of-type {
        padding-top: 1.5rem; 
    }
}

@media (max-width: 36rem) {
    #loginForm {
        justify-content: flex-end;
    }
    #loginForm input, #loginForm button {
        margin-bottom: 8px;
    }
    #loginForm button {
        padding: 8px 32px;
    }
}