<div class="table-responsive">
  <table class="table">
    <tr>
      <th style="width: 10%">User Id</th>
      <th style="width: 30%">Username</th>
      <th style="width: 40%">Active roles</th>
      <th style="width: 20%"></th>
    </tr>
    <tr *ngFor="let user of users">
      <td class="align-middle">{{user.id}}</td>
      <td class="align-middle">{{user.userName}}</td>
      <td class="align-middle">{{user.roles}}</td>
      <td class="align-middle"><button class="btn btn-info" (click)="editRolesModal(user)">Edit Roles</button></td>
    </tr>
  </table>
</div>